language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
notifications:
  email:
    on_success: never
    on_failure: always
before_script:
  - composer install --dev
  - composer dump-autoload -o
script: phpunit --coverage-text
