<div snap-drawer>
  <ul class="list-group">
    <a class="list-group-item"
      ui-sref="repository({ name: repository.name })"
      ui-sref-active="active"
      ng-repeat="repository in repositories">
      <strong>{{ repository.name }}</strong>
      <span class="badge">{{ repository.commits }} commits</span>
    </a>
  </ul>
</div>

<div snap-content>
  <div class="content" ui-view>
    <ul class="list-group inline">
      <a class="list-group-item"
        ui-sref="repository({ name: repository.name })"
        ng-repeat="repository in repositories">
        <strong>{{ repository.name }}</strong>
        <span class="badge">{{ repository.commits }} commits</span>
      </a>
    </ul>
  </div>
</div>

<div class="footer">
  <a href="https://www.github.com/modess/git-pretty-stats"><i class="fa fa-github"></i></a>
</div>
