@import settings

#primary-color
  color: $primary-color

#primary-color-tinted
  color: tint($primary-color, 50%)

.header
  background: $primary-color

  h1
    color: white
    small
      color: tint($primary-color, 50%)
