<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        {# Retrieve the base url for this request, and serve static assets from there,
           so that they're available also under relative paths #}
        {% set assetRoot = app.request.baseUrl %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>git-pretty-stats</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        {% if statsEndpoint is defined %}
        <link rel="stats endpoint" id="stats-endpoint" href="{{ statsEndpoint }}">
        {% endif %}

        <link rel="stylesheet" href="{{ assetRoot }}/assets/vendor/flat-ui-2.0/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ assetRoot }}/assets/vendor/font-awesome-3.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ assetRoot }}/assets/vendor/flat-ui-2.0/css/flat-ui.css">
        <link rel="stylesheet" href="{{ assetRoot }}/assets/css/screen.css">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block page_content %}{% endblock %}

        <div class="footer">
            <div class="container">
                <div class="row">
                    <strong>git-pretty-stats</strong> -
                    <a href="http://www.codingswag.com/git-pretty-stats">homepage</a> -
                    <a href="http://www.github.com/modess/git-pretty-stats">github repository</a>
                </div>
            </div>
        </div>

        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/jquery-1.8.3.min.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/jquery.ui.touch-punch.min.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/bootstrap.min.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/bootstrap-select.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/bootstrap-switch.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/flatui-checkbox.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/flatui-radio.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/jquery.tagsinput.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/jquery.placeholder.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/jquery.stacktable.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/flat-ui-2.0/js/application.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/highcharts-3.0.2/highcharts.js"></script>
        <script src="{{ assetRoot }}/assets/vendor/handlebars-1.0.0/handlebars.js"></script>

        <script src="{{ assetRoot }}/assets/js/charts/commits.js"></script>
        <script src="{{ assetRoot }}/assets/js/charts/contributors.js"></script>
        <script src="{{ assetRoot }}/assets/js/app.js"></script>
    </body>
</html>
