{% include '_header.html' %}

{% include '_repository.html' %}

        <div class="container">

            <ul class="nav nav-tabs" id="tabs">
              <li class="active"><a href="#commits" data-toggle="tab">Commit activity</a></li>
              <li><a href="#contributors" data-toggle="tab">Contributors</a></li>
            </ul>

            <div class="tab-content">
                <div id="commits" class="tab-pane active">
                    <h3>By date <small>(zoom and pan)</small></h3>
                    <div id="commitsByDate" style="height: 300px; width: 100%;"></div>

                    <h3>By hour of day</h3>
                    <div id="commitsByHour" style="height: 300px; width: 100%;"></div>

                    <h3>By day of week</h3>
                    <div id="commitsByDay" style="height: 300px; width: 100%;"></div>
                </div>

                <div id="contributors" class="tab-pane fade">
                    <h3>Contributors</h3>
                    <ul class="thumbnails"></ul>
                </div>
            </div>

        </div>

{% include '_footer.html' %}
