{% extends "_layout.html" %}

{% block body %}
<body class="index">
{% endblock %}

{% block page_content %}
    <div class="container">

        <div class="offset2 span8">
          <div class="todo mrm">
            <ul>
              {% for repository in repositories %}
              <li>
              <a href="{{ baseUrl }}/repository/{{ repository.name|url_encode }}">
                <div class="todo-icon fui-list"></div>
                <div class="todo-content">
                    <h4 class="todo-name">{{ repository.name }} <small>@ {{ repository.branch }}</small></h4>
                    {{ repository.commits }} commits
                </div>
                </a>
              </li>
              {% endfor %}

            </ul>
          </div>
        </div>

    </div>

{% endblock %}
