@import "bootstrap_variables";

.no-margin-top {
  margin-top: 0;
}

.divider {
  margin: 10px 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

$loading-bar-height: 10px;
#loading-bar .bar,
#loading-bar .peg {
  height: $loading-bar-height;
}
#loading-bar-spinner {
  top: ($loading-bar-height + 10);
}

#tabs {
  margin-top: 15px;
}

.thumbnail {
  position: relative;
  margin-top: 1em;

  h4 {
    font-size: 1.1em;
  }

  h5 {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 10px;
    background: $brand-primary;
    color: white;
    font-size: 1.25em;
  }
}

.statistics {
  color: white;
  font-weight: bold;

  .thumbnail {
    background: $brand-secondary;
    padding: 10px;

    .title {
      font-size: 1.4em;
    }

    .value {
      font-size: 4em;
      line-height: 1em;
      padding-top: 10px;
      text-align: right;
    }
  }
}

.commit-activity {
  .chart {
    height: 300px;

    &.hour {
      height: 400px;
    }
  }
}
