<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" snap-toggle="left" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">{{ repository.name }} <small>on {{ repository.branch }}</small></span>
    </div>
  </div>
</nav>

<div class="container">
  <ul class="nav nav-tabs" id="tabs">
    <li ng-class="{'active': activeTab == 1 || !activeTab}"><a ng-click="activeTab = 1" data-toggle="tab">Statistics</a></li>
    <li ng-class="{'active': activeTab == 2}"><a ng-click="activeTab = 2" data-toggle="tab">Commit activity</a></li>
    <li ng-class="{'active': activeTab == 3}"><a ng-click="activeTab = 3" data-toggle="tab">Contributors</a></li>
  </ul>

  <div class="tab-content">
    <div ng-if="activeTab == 1 || !activeTab"
      ng-class="{'active': activeTab == 1 || !activeTab}"
      class="tab-pane statistics">
      <gps-statistics></gps-statistics>
    </div>

    <div ng-if="activeTab == 2"
      ng-class="{'active': activeTab == 2, 'fade': activeTab !== 2}"
      class="tab-pane commit-activity">
      <h3>By date</h3>
      <gps-commits-by-date-chart></gps-commits-by-date-chart>

      <hr />

      <div class="row">
        <div class="col-md-12 col-lg-6">
          <h3>By day of week</h3>
          <gps-commits-by-day-chart></gps-commits-by-day-chart>
          <hr class="divide-responsive-charts" />
        </div>

        <div class="col-md-12 col-lg-6">
          <h3>By hour of day</h3>
          <gps-commits-by-hour-chart></gps-commits-by-hour-chart>
        </div>
      </div>
    </div>

    <div ng-if="activeTab == 3"
      ng-class="{'active': activeTab == 3, 'fade': activeTab !== 3}"
      class="tab-pane contributors">
      <h3>Contributors <small>(zoomable)</small></h3>
      <div class="row thumbnails">
        <gps-contributor ng-repeat="contributor in charts.contributor" contributor="contributor"></gps-contributor>
      </div>
    </div>
  </div>
</div>
