/* line 19, ../../app/assets/styles/main.scss */
.no-margin-top {
  margin-top: 0;
}

/* line 23, ../../app/assets/styles/main.scss */
.divider {
  margin: 10px 0;
}

/* line 27, ../../app/assets/styles/main.scss */
* {
  outline: none;
}

/* line 32, ../../app/assets/styles/main.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 37, ../../app/assets/styles/main.scss */
body {
  margin: 0 0 55px;
  padding-top: 20px;
}

/* line 42, ../../app/assets/styles/main.scss */
.footer {
  width: 100%;
  height: 55px;
  padding: 10px;
  bottom: 0;
  background: #7ad1b9;
  text-align: center;
  position: absolute;
  z-index: 999;
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 42, ../../app/assets/styles/main.scss */
  .footer {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 42, ../../app/assets/styles/main.scss */
  .footer {
    display: none;
  }
}
/* line 54, ../../app/assets/styles/main.scss */
.footer a {
  color: #27715d;
  font-size: 1.8em;
}
/* line 58, ../../app/assets/styles/main.scss */
.footer a:hover {
  color: #3baa8b;
}

/* line 62, ../../app/assets/styles/main.scss */
.snap-content {
  background: #54c4a5;
  padding-bottom: 75px;
}

/* line 67, ../../app/assets/styles/main.scss */
.snap-drawer {
  background: #3baa8b;
}

/* line 72, ../../app/assets/styles/main.scss */
.navbar-default .navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: 0;
  display: block;
  background: #b3e5d7;
  border-color: #b3e5d7;
  color: #fff;
}
/* line 81, ../../app/assets/styles/main.scss */
.navbar-default .navbar-toggle .icon-bar {
  background: #3baa8b;
}
/* line 85, ../../app/assets/styles/main.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: #b3e5d7;
}
/* line 87, ../../app/assets/styles/main.scss */
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background: #7ad1b9;
}

/* line 94, ../../app/assets/styles/main.scss */
#tabs {
  margin-top: 15px;
}

/* line 97, ../../app/assets/styles/main.scss */
.nav li a {
  color: #b3e5d7;
  cursor: pointer;
}
/* line 101, ../../app/assets/styles/main.scss */
.nav li a:hover, .nav li a:focus {
  color: #fff;
  background: #7ad1b9;
  border-color: #7ad1b9 #7ad1b9 #3baa8b #7ad1b9;
}

/* line 109, ../../app/assets/styles/main.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #27715d;
}

/* line 114, ../../app/assets/styles/main.scss */
.list-group {
  max-width: 768px;
  margin: 0 auto;
  list-style: none;
}
/* line 119, ../../app/assets/styles/main.scss */
.list-group.inline {
  margin: 55px auto;
}
/* line 124, ../../app/assets/styles/main.scss */
.list-group .list-group-item .badge {
  background-color: #54c4a5;
}

/* line 131, ../../app/assets/styles/main.scss */
#loading-bar .bar,
#loading-bar .peg {
  height: 10px;
}

/* line 135, ../../app/assets/styles/main.scss */
#loading-bar-spinner {
  top: 20px;
}

/* line 139, ../../app/assets/styles/main.scss */
.thumbnail {
  position: relative;
  margin-top: 1em;
  border: 0;
  background: #3baa8b;
}
/* line 145, ../../app/assets/styles/main.scss */
.thumbnail h4 {
  font-size: 1.1em;
  margin-top: 8px;
  margin-left: 8px;
}
/* line 151, ../../app/assets/styles/main.scss */
.thumbnail h5 {
  position: absolute;
  right: 8px;
  margin-top: 8px;
  top: 0;
  padding: 10px;
  background: #54c4a5;
  color: white;
  font-size: 1.25em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* line 164, ../../app/assets/styles/main.scss */
.statistics {
  color: white;
  font-weight: bold;
}
/* line 168, ../../app/assets/styles/main.scss */
.statistics .thumbnail {
  background: #46A4BB;
  padding: 10px;
  border: 0;
}
/* line 173, ../../app/assets/styles/main.scss */
.statistics .thumbnail .title {
  font-size: 1em;
}
/* line 177, ../../app/assets/styles/main.scss */
.statistics .thumbnail .value {
  font-size: 3em;
  line-height: 1em;
  padding-top: 10px;
  text-align: right;
}
@media (max-width: 767px) {
  /* line 177, ../../app/assets/styles/main.scss */
  .statistics .thumbnail .value {
    text-align: left;
  }
}

/* line 188, ../../app/assets/styles/main.scss */
.commit-activity .chart {
  height: 400px;
}
/* line 192, ../../app/assets/styles/main.scss */
.commit-activity .divide-responsive-charts {
  display: none;
}
@media (min-width: 992px) and (max-width: 1200px) {
  /* line 192, ../../app/assets/styles/main.scss */
  .commit-activity .divide-responsive-charts {
    display: block;
  }
}
