body, html {
  margin-bottom: 100px;
}
body.index, html.index {
  background: #1abc9c;
}

.todo {
  margin-top: 5em;
}
.todo li {
  padding: 0;
}
.todo li:first-child {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.todo li:last-child {
  padding-bottom: 0;
}
.todo a {
  display: block;
  padding: 18px 42px 17px 25px;
  text-decoration: none;
}

.header {
  background: #1abc9c;
}
.header h1 {
  color: white;
}
.header h1 small {
  color: tint(#1abc9c, 50%);
}
.header .dropdown-menu {
  right: 0;
  width: auto;
  left: auto;
}
.header .select {
  margin-top: 8px;
}

.footer {
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  background: #ecf0f1;
  text-align: center;
}

#tabs {
  margin-top: 15px;
}

.thumbnail {
  position: relative;
}
.thumbnail h5 {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 10px;
  background: #1abc9c;
  color: white;
}

#statistics {
  color: white;
  font-weight: bold;
}
#statistics .thumbnail {
  background: #3498db;
  padding: 10px;
}
#statistics .thumbnail .title {
  font-size: 1.1em;
}
#statistics .thumbnail .value {
  font-size: 3em;
  line-height: 1em;
  padding-top: 10px;
  text-align: right;
}
